.solution-card-container {
    border-radius: 2rem;
    border: 1px solid gray;
    min-width: fit-content;
    margin: 0 30% 0 30%;
    padding: 0rem 2rem 0.5rem 2rem;
}

.solution-para {
    text-align: left;
    margin: 2rem 0.2rem 2rem 0.2rem;
    color: var(--text-secondary);
}

.solution-point {
    text-align: left;
    border: 1px solid gray;
    padding: 0.5rem 1rem;
    border-radius: 32px;
    color: var(--text-secondary);
    font-weight: bold;
}
.solution-point:hover {
    background-color: var(--card-bg);
}
