.solution-title {
    font-size: 2.5rem;
    line-height: 5rem;
    padding: 1rem;
    margin: 0rem 0 2rem 0;
    color: antiquewhite;
    font-weight: bold;
    background: var(--gradient-main-title);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}