.pg-title {
    font-size: 5rem;
    line-height: 5rem;
    padding: 8rem 1rem 2rem 1rem;
    margin:0.5rem 0 0  0rem;
    color: antiquewhite;
    font-weight: bold;
    background: var(--gradient-main-title);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;

}

.title-info{
    font-size: 18px;
    font-weight: 500;
    color: var(--text-muted);
    margin: 1.2rem 0 0 0;
}