.navbar {
    background-color: var(--primary-bg);
    padding: 1rem 1.5rem 1rem 1.5rem;
    border-style:solid;
    border-color: rgb(37, 37, 37);
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0.5px;
    display: flex;
    justify-content:space-between;
    gap: 20px;
}

#profile_btn { 
    width: 200px;
    min-width: 80px;
    background-color: white;
    color: black;
    font-weight: bold;
    border-radius:  10px;
    border: 1px solid gray;
    cursor: pointer;
}

#analysis_btn {
    width: 250px;
    min-width: 80px;
    margin-left: 75%;
    background-color: var(--primary-bg);
    color: white;
    font-weight: bold;
    border-radius:  12px;
    border: 1px solid gray;
    cursor: pointer;
}

#logo {
    font-size: 1.8rem;
    font-weight: bold;
}



