.stats-tab {
    margin: 0rem 0 0.5rem 0;
    padding: 2.5rem 0.5rem 2.5rem 0.5rem;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.stats-card {
    background-color: var(--primary-bg);
    border: none;
    font-size: 1.1rem;
}
