.stats-tab {
    margin: 0rem 0 0.5rem 0;
    padding: 2.5rem 0.5rem 2.5rem 0.5rem;
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.stats-card {
    background-color: var(--primary-bg);
    border: none;
    font-size: 1.1rem;
}


@media (max-width: 768px) {
    .stats-tab {
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        padding: 2rem 1rem;
    }
    .stats-card {
        width: 85%;
        font-size: 1rem;
    }
}