.Stats-Container {
    margin: 2.25rem 0 0 ;
    padding: 1rem 0 1rem 0;
    background: linear-gradient(to top, black 50%, transparent 100%) ;
}

.stats-title {
    margin-bottom: 0;
    font-size: 2.5rem;
    padding: 0.5rem;
    padding-top: 2rem;
    color: antiquewhite;
    font-weight: bold;
    background: var(--gradient-main-title);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    /* border-top: 1px solid rgb(38, 37, 37); */
}

.stats-info {
    color: var(--text-muted);
    margin: 0 0 0 0 ;
}