#root {
  
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center; /* align texts in the center vertically*/

  --primary-bg:  hsla(0, 0%, 8%);
  background-color: var(--primary-bg);
}


