
button {
  border-radius: 8px;
  border: 1px solid ;
  padding: 0.4em 1.5em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #fffbfb;
  color:black;
  cursor: pointer;
}



