.chip-btn {
    border: 1px solid gray ;
    border-radius: 12px;
    padding: 0.5rem;
    background-color: transparent;
    color:var(--text-secondary);
    cursor: pointer;
}
.chip-btn:hover {
    color: var(--text-primary);
    border: 1px solid var(--text-secondary) ;
}