.pg-title {
    font-size: 4rem;
    line-height: 4rem;
    padding: 0.5rem;
    margin: 0rem;
    color: antiquewhite;
    font-weight: bold;
    background: var(--gradient-main-title);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;

}

.title-info{
    font-size: 18px;
    font-weight: 300;
    color: var(--text-muted);
    margin: 2rem 0 0 0;
}